<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{meta_title}}</title>

    <!-- Open Graph -->
    <meta property="og:site_name" content="{{@site.title}}" />
    <meta property="og:type"      content="website" />
    <meta property="og:title"     content="{{meta_title}}" />
    {{#if @site.cover_image}}
    <meta property="og:image" content="{{@site.cover_image}}" />
    {{/if}}

    <!-- Twitter Card -->
    <meta name="twitter:card"  content="summary_large_image" />
    <meta name="twitter:title" content="{{meta_title}}" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=DM+Sans:wght@400;500;600&display=swap" rel="stylesheet" />

    <!-- Theme stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{> navigation}}

    <main id="main-content">
        {{{body}}}
    </main>

    {{> footer}}

    <script src="{{asset "js/main.js"}}"></script>
    {{ghost_foot}}
</body>
</html>
